@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.heroWrapper{
    background: url('./img/hero_bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
    padding: 200px 0px;
    text-align: right;
}

.heroWrapper h1{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-left: auto;
    max-width: 50%;
}

.heroWrapper p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-left: auto;
    max-width: 40%;
    padding: 20px 0px;
}

.heroWrapper a{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: .5s;
}

.heroWrapper a:hover{
    background: #005FAC;
    color: #fff;
}

/* About */
.about{
    padding: 100px 0px
}
.contentWraplper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentWraplper .content{
    margin-left: 5%;
}

.contentWraplper .content h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    max-width: 60%;
}

.contentWraplper .content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding: 20px 0px;
}

.contentWraplper .content .bulletInfo ul{
    list-style: none;
}

.contentWraplper .content .bulletInfo ul li{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding: 5px 0px;
}

.contentWraplper .content ul li img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Mu PLane */
.myplane{
    padding: 50px 0px;
}

.myplane h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    padding: 30px 0px;
}

.planeList{
    display: flex;
    justify-content: space-between;
}

.plane{
    text-align: center;
}

.plane h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;color: #151414;
}

.plane p{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    padding: 10px 0px;
}


/* CTA */
.cta{
    padding: 50px 0px;
}

.ctaWrapper{
    background: url('./img/watch.png');
    background-position: left ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    position: relative;
    border-radius: 8px;
    height: 250px;

    display: flex;
    align-items: center;
}

.ctaWrapper::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    top: 0;
    left: 0;
    border-radius: 8px;
    z-index: 1;
}

.cta .ctaWrapper .ctaContent{
    position: absolute;
    z-index: 2;
}

.cta .ctaWrapper .ctaContent h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    max-width: 80%;
}

.cta .ctaWrapper .ctaContent a{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    display: inline-block;
    padding: 15px;
    background: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 0px;
}

/* FAQ */

.faq{
    margin-bottom: 20px;
}

.faqWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-half h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.faq-item{
    border: 1px solid #eee;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.faq-item h4{
    font-size: 22px;
    margin: 8px 0px;
}

/* Footer */
.footer{
    background: #151414;
    padding: 100px 0px;
}

.footerWidget{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.footer .footerWidget .widget-1{
    width: 60%;
    margin-right: 5%;
}

.footer .footerWidget .widget-2{
    width: 40%;
    margin-left: 5%;
}

.footer .footerWidget .widget-1 h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.footer .footerWidget .widget-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 80%
}

.footer .footerWidget .widget-1 p:nth-child(2) , .footer .footerWidget .widget-1 p:nth-child(3){
    margin: 20px 0px;
}

.footer .footerWidget .widget-2 h4{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 30px 0px;
}

.footer .footerWidget .widget-2 input{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: transparent;
    padding: 15px;
    width: 50%;
}

.footer .footerWidget .widget-2 button{
    background: #005FAC;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 10px;
}

.social-icon{
    margin-top: 50px;
}
